

/* Style the login form */
.loginForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    position: static;
}

.form {
    margin-top: 250px;
}

.form-title {
    font-weight: bold;
    font-size: 90px;
    font-family:Impact, 'Haettenschweiler', sans-serif;
    font-variant:small-caps;
    margin-left: 50px;
    margin-bottom: 20px;
}
.form-goat {
    font-size: 40px;
    margin: 0px;
    vertical-align:super;



}
.form-label {
    font-weight: bold;
}

/* Style the "Submit" button */
.btn-primary {
    background-color: rgb(95, 62, 54); /* Yellow */
    border: none;
}

.btn-primary:hover {
    background-color: #3b290e; /* Darker Yellow */
}

/* Style the form input fields */
.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Adjust margin and padding for a cleaner look */
.form-group, .form-check {
    margin-bottom: 15px;
}




/* Adding Overlay */
.overlay {
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.176) 0%, rgba(31, 34, 40, 0.473) 100%);
    z-index: -1;
}

/* Adding background */
.background {
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://wallpapercave.com/dwp2x/wp11979548.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
}