.editForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
}

.form {
    margin-top: 120px;
}

.form-label {
    font-weight: bold;
}

/* Style the "Submit" button */
.btn-primary {
    background-color: #0ada33; /* Yellow */
    border: none;
}

.btn-primary:hover {
    background-color: #11a33f; /* Darker Yellow */
}

/* Style the form input fields */
.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Adjust margin and padding for a cleaner look */
.form-group, .form-check {
    margin-bottom: 15px;
}