<!DOCTYPE html>
<html>
<head>
    <title>Delivery App</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='register_page.css') }}">


    <!-- Add Bootstrap JavaScript (requires jQuery and Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('login') }}" style="font-family: Impact, sans-serif; font-variant:small-caps; font-size: 30px;">gOAAt <span style="font-size: 19px; vertical-align: middle;"> &#128016</span> </a> <!-- Brand Name -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <nav class="form">
        <form method="POST" action="{{ url_for('register') }}" class="registerForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"> <!-- Input field for the user's email -->
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password"> <!-- Input field for the user's password -->
            </div>
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Name</label> 
                <input type="" class="form-control" id="exampleInputName1" name="name"> <!-- Input field for the user's name -->
            </div>
            <div class="mb-3">
                <label for="exampleInputAddress1" class="form-label">Address</label>
                <input type="" class="form-control" id="exampleInputAddress" name="address"> <!-- Input field for the user's address -->
            </div>
            <div class="mb-3">
                <label for="exampleInputCardNumber1" class="form-label">Card Number</label>
                <input type="" class="form-control" id="exampleInputCardNumber" name="card_number"> <!-- Input field for the user's card number -->
            </div>
            <div class="mb-3">
                <label for="exampleInputExpirationDate1" class="form-label">Expiration Date</label>
                <input type="" class="form-control" id="exampleInputExpirationDate" name="expiration_date"> <!-- Input field for the user's expiration date -->
            </div>
            <div class="mb-3">
                <label for="exampleInputCVV" class="form-label">CVV</label>
                <input type="" class="form-control" id="exampleInputcvv" name="cvv"> <!-- Input field for the user's cvv number -->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> <!-- Submission button for registering account -->
            <div class="error-message">
                {% if error_message %}
                    <p class="text-danger">{{ error_message }}</p>
                {% endif %}
            </div>
        </form>
    </nav>
    
    <!-- Overlay -->
    <div class="overlay">
    </div>

    <!-- Background -->
    <div class="background">
    </div>
</body>
</html>
