<!DOCTYPE html>
<html>
<head>
    <title>Delivery App</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='restaurant_details.css') }}">


    <!-- Add Bootstrap JavaScript (requires jQuery and Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('user_homepage', user_id=user_id) }}" style="font-family: Impact, sans-serif; font-variant:small-caps; font-size: 30px;">gOAAt <span style="font-size: 19px; vertical-align: middle;"> &#128016</span> </a> <!-- Brand Name -->

        <a class="shopping-cart" href="{{ url_for('viewShoppingCart', user_id=user_id) }}">&#128722</a> <!-- Shopping cart form -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">  <!-- Link to log out -->
                    <a class="nav-link" href="/">Logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Restaurant Information -->
    <nav class="navbar bg-body-tertiary" style="height: 200px; background-image: url('{{ restaurant_info.image_url }}'); background-size: cover; background-position: center;"></nav>
    <h3 style="margin-top: 10px; font-weight: bold; margin-left: 8px;">{{ restaurant_info.name }}</h3>
    <p style="color: rgb(183, 178, 178); margin-top: -5px; margin-left: 8px; margin-bottom: 15px;">Open • Available until 2:00 am</p>

    

    <!-- food items list -->
    <div class="container text-center">
        <div class="row">
            {% for items in items %}
                <div class="col">
                    <a href="">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ items.image_url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ items.name }}</h5>
                                <p class="card-text">${{ items.price }}</p>
                                <form method="post" action="{{ url_for('add_to_cart') }}">
                                    <input type="hidden" name="item_id" value="{{ items.fooditem_id }}">
                                    <input type="hidden" name="restaurant_id" value="{{ restaurant_info.restaurant_id }}">
                                    <input type="hidden" name="user_id" value="{{ user_id}}">
                                    <button type="submit" class="btn btn-primary">&#128722</button>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    

</body>
</html>
