<!DOCTYPE html>
<html>
<head>
    <title>Delivery App</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='restaurant_details.css') }}">


    <!-- Add Bootstrap JavaScript (requires jQuery and Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('user_homepage') }}" style="font-family: Impact, sans-serif; font-variant:small-caps; font-size: 30px;">gOAAt <span style="font-size: 19px; vertical-align: middle;"> &#128016</span> </a> <!-- Brand Name -->

        <a class="shopping-cart" href="{{ url_for('viewShoppingCart') }}">&#128722</a> <!-- Shopping cart form -->
        <form class="d-flex" role="search" style="margin-left: 20px;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">  <!-- Link to log out -->
                    <a class="nav-link" href="/">Logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Restaurant Information -->
    <nav class="navbar bg-body-tertiary" style="height: 200px; background-image: url('https://www.allrecipes.com/thmb/GvGzAzmqmTiCFP9AIisrHZav_Gw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Copycat-Burger-and-Fries-2000-b09140d301434155bda5a8c8a40f5e95.jpeg'); background-size: cover; background-position: center;"></nav>
    <h3 style="margin-top: 10px; font-weight: bold; margin-left: 8px;">Melt Grill</h3>
    <p style="color: rgb(183, 178, 178); margin-top: -5px; margin-left: 8px; margin-bottom: 15px;">Open • Available until 2:00 am</p>

    <!-- Listing out the food items -->
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img src="https://assets.epicurious.com/photos/5c745a108918ee7ab68daf79/1:1/w_2560%2Cc_limit/Smashburger-recipe-120219.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Classic Burger</h5>
                            <p class="card-text">$11.50</p>
                            <button type="submit" class="btn btn-primary">&#128722</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.allrecipes.com/thmb/cgbx7nNnNGRNXgUtWeLLBaYwua4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/163062-crispy-turnip-fries-ddmfs-57-step-478-4x3-c84399b1e5ba4f61872f74648966b2fc.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Regular Fries</h5>
                            <p class="card-text">$8.99</p>
                            <button type="submit" class="btn btn-primary">&#128722</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.dadcooksdinner.com/wp-content/uploads/2022/11/Instant-Pot-Air-Fryer-Frozen-French-Fries-1280x-DSCF1341.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Crinkle-Cut Fries</h5>
                            <p class="card-text">$9.99</p>
                            <button type="submit" class="btn btn-primary">&#128722</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img src="https://mapleleafhh.com/wp-content/uploads/41610-4oz-Broiled-Beef-Burger-lo-res-10-21-2014-1024x775.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Angus Burger</h5>
                            <p class="card-text">$12.50</p>
                            <button type="submit" class="btn btn-primary">&#128722</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eastbrunswickvillage.com.au/wp-content/uploads/2020/12/Fully-loaded-burger-with-oozy-cheese.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Loaded Burger</h5>
                            <p class="card-text">$13.50</p>
                            <button type="submit" class="btn btn-primary">&#128722</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img src="https://flaevor.com/wp-content/uploads/2022/04/SambalFriedChickenBurger1-1024x830.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Crispy Chicken Burger</h5>
                            <p class="card-text">$10.50</p>
                            <button type="submit" class="btn btn-primary">&#128722</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    

</body>
</html>
